.container {
  display: flex;
  color: #ced1e2;
  width: min(90vw, 47rem);
  /* height: 20vh; */
}

.split_Right {
  flex: 2;
  border: 2px red solid;
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  overflow: hidden;
  /* t0 auto*/
}

.split_Left {
  border: 2px red solid;
  flex: 1;
}

.split_Left img {
  width: 100%;
  padding: 1rem 0 1rem 1rem;
  aspect-ratio: 1 / 1.5;
  object-fit: cover;
}

.split_Right * {
  text-align: center;
}
