.nav {
  display: flex;
  justify-content: space-between;
  /* border: 2px red solid; */
  margin: 1vh 1vw 2vh 1vw;
  align-items: center;
}
.nav > img {
  /* width: 15vw;
  max-width: 100px; */
  width: min(15vw, 6.25rem);
  /* border: 2px red solid; */
  /* height: auto; */
  /* margin: 0; */
}

.nav a img {
  /* margin: auto 0; */
  /* width: min(10vw, 4.3rem); */
  width: min(14vw, 5.5rem);

  /* border: 2px red solid; */
}
