.nav {
  display: flex;
  justify-content: space-between;
}
.nav > img {
  /* width: 15vw;
  max-width: 100px; */
  width: min(15vw, 6.25rem);
  height: auto;
  margin: 0;
}

.nav a img {
  margin: auto 0;
  width: min(10vw, 4.3rem);
  height: 100%;
}
